<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container w3-light-grey w3-card w3-round-large w3-margin-top w3-padding-large w3-center" style="max-width: 600px; margin: 0 auto;">
    <h1 class="w3-text-teal">¡Hola Editor!</h1>

    <div class="w3-margin-top">
        <a href="/PW2-JuegoPreguntasYRespuestas/ControllerEditor/gestionarPreguntas" class="w3-button w3-blue w3-round-large w3-margin-bottom" style="width: 80%;">GESTIONAR</a>
        <a href="/PW2-JuegoPreguntasYRespuestas/ControllerEditor/verPreguntasSugeridas" class="w3-button w3-teal w3-round-large w3-margin-bottom" style="width: 80%;">SUGERENCIAS</a>
        <a href="/PW2-JuegoPreguntasYRespuestas/ControllerEditor/verPreguntasReportadas" class="w3-button w3-indigo w3-round-large w3-margin-bottom" style="width: 80%;">REPORTES</a>
        <a href="/PW2-JuegoPreguntasYRespuestas/ControllerLogin/cerrarSesion" class="w3-button w3-red w3-round-large w3-margin-bottom" style="width: 80%;">SALIR</a>
    </div>

</div>

</body>