<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregunta</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="background-color: {{categoriaColor}};">
<input type="hidden" name="partida_id" value="{{partida_id}}">
<div class="w3-container">
    <h2>{{pregunta.descripcion}}</h2>
    <h1>{{tiempoRestante}}</h1>
    <form id="pregunta-form" class="w3-card-4 w3-padding w3-white w3-round-large" method="POST" action="/PW2-JuegoPreguntasYRespuestas/ControllerJuego/verificarRespuesta">
        {{#respuestas}}
            <label class="w3-block w3-margin-bottom">
                <input class="w3-radio" type="radio" name="letraSeleccionada" value="{{letra}}">
                {{letra}}) {{descripcion}}
            </label>
        {{/respuestas}}
        <input type="hidden" name="pregunta_id" value="{{pregunta.id}}">
        <input type="hidden" name="pregunta_token" value="{{pregunta_token}}">

        <button type="submit" class="w3-button w3-green w3-round">Responder</button>
    </form>
    <p>Puntuación actual: {{puntuacion}}</p>

    <!-- Botón para abrir el popup de reporte -->
    <button onclick="document.getElementById('idReporteModal').style.display='block'" class="w3-button w3-red w3-round">Reportar esta pregunta</button>

    <!-- El Modal (Popup) para el reporte -->
    <div id="idReporteModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('idReporteModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Reportar Pregunta</h2>
            </header>
            <div class="w3-container">
                <form method="POST" action="/PW2-JuegoPreguntasYRespuestas/ControllerReporte/postReportarPregunta">
                    <input type="hidden" name="pregunta_id" value="{{pregunta.id}}">
                    <p>{{pregunta.descripcion}}</p>

                    <label for="razon">Razón del reporte:</label>
                    <input type="text" id="razon" name="razon" required class="w3-input w3-border w3-round">

                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" class="w3-input w3-border w3-round"></textarea>
                    <input type="hidden" name="reporte_status" value="pendiente">
                    <button type="submit" class="w3-button w3-blue w3-round">Enviar reporte</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var puntuacion = {{puntuacion}};
    var sec = {{tiempoRestante}};
</script>
<script src="/PW2-JuegoPreguntasYRespuestas/public/js/ajax/temporizadorAjax.js"></script>
</body>
</html>










