<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Ranking de Jugadores</title>
</head>
<body>
<div class="w3-margin-top">
    <a class="w3-button w3-teal w3-round w3-margin-left" href="/PW2-JuegoPreguntasYRespuestas/ControllerHome/get">Volver al lobby</a>
</div>
<h1 class="w3-center w3-padding-16 w3-text-teal">Ranking de Jugadores</h1>
<table class="w3-table w3-bordered w3-striped w3-hoverable w3-centered">
    <tr class="w3-light-grey">
        <th>Posición</th>
        <th>Nombre</th>
        <th>Puntuación</th>
        <th>QR</th>
    </tr>
    {{#jugadores}}
        <tr>
            <td>{{posicion}}</td>
            <td><a href="/PW2-JuegoPreguntasYRespuestas/ControllerPerfil/showPerfilAjeno/?id={{usuario_id}}" class="w3-text-teal">{{nombre}}</a></td>
            <td>{{puntuacion}}</td>
            <td>
                <div class="w3-center">
                    <img class="w3-image w3-card" src="/PW2-JuegoPreguntasYRespuestas/public/img/Qr/{{usuario_id}}.png" style="width: 100px; height: 100px;">
                </div>
            </td>
        </tr>
    {{/jugadores}}
</table>
</body>
</html>
