<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container">
    <h1>{{mensaje}}
        {{^correcta}}Incorrecto{{/correcta}}</h1>
    <p>Puntuación total: {{puntuacion}}</p>
    <a href="/PW2-JuegoPreguntasYRespuestas/ControllerJuego/reiniciarJuego" class="w3-button w3-green w3-round">Nueva partida</a>
    <a href="/PW2-JuegoPreguntasYRespuestas/ControllerHome/get" class="w3-button w3-blue w3-round">Volver al Inicio</a>
</div>
</body>
</html>


